In [1]:
import pandas as pd
import numpy as np

In [4]:
fp_vege = "../resources/vegetables.csv"
fp_meat = "../resources/meat.csv"

In [95]:
df = pd.read_csv(fp_meat)
df.head()

,HS (PC-TAS) code,Product discription (HS),Product description (SITC),Rootproduct (HS),Product fraction,Value fraction,Country,World Average,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,Production system >>,Grazing,Mixed,Industrial,Weighted average
1,10111.0,"Horses, live pure-bred breeding",Horses,010111,1.0,1.0,Green,40317,34717,33337,37179
2,NaN,NaN,NaN,NaN,NaN,NaN,Blue,1470,3534,2183,2462
3,NaN,NaN,NaN,NaN,NaN,NaN,Grey,675,1179,1469,971
4,10119.0,"Horses, live except pure-bred breeding",NaN,010111,1.0,1.0,Green,40317,34717,33337,37179

In [115]:
df.head()

,Product code (HS),Product description (HS),Product description (FAOSTAT),Root product (HS),Product fraction (pf),Value fraction (vf),Water Type,Global average
1,10111.0,"Horses, live pure-bred breeding",Horses,010111,1.0,1.0,Green,37179
2,NaN,NaN,NaN,NaN,NaN,NaN,Blue,2462
3,NaN,NaN,NaN,NaN,NaN,NaN,Grey,971
4,10119.0,"Horses, live except pure-bred breeding",NaN,010111,1.0,1.0,Green,37179
5,NaN,NaN,NaN,NaN,NaN,NaN,Blue,2462

In [111]:
df[df['Weighted average'] == np.nan]

,Product code (HS),Product description (HS),Product description (FAOSTAT),Root product (HS),Product fraction (pf),Value fraction (vf),Water Type,Weighted average
1,10111.0,"Horses, live pure-bred breeding",Horses,010111,1.00,1.0,Green,37179
2,NaN,NaN,NaN,NaN,NaN,NaN,Blue,2462
3,NaN,NaN,NaN,NaN,NaN,NaN,Grey,971
4,10119.0,"Horses, live except pure-bred breeding",NaN,010111,1.00,1.0,Green,37179
5,NaN,NaN,NaN,NaN,NaN,NaN,Blue,2462
...,...,...,...,...,...,...,...,...
314,NaN,NaN,NaN,NaN,NaN,NaN,Blue,349
315,NaN,NaN,NaN,NaN,NaN,NaN,Grey,6
316,410710.0,"Swine leather, nes",Leather of swine,010310,0.02,0.1,Green,15278
317,NaN,NaN,NaN,NaN,NaN,NaN,Blue,1387
318,NaN,NaN,NaN,NaN,NaN,NaN,Grey,1936

In [113]:
df.columns = ['Product code (HS)', 'Product description (HS)',
       'Product description (FAOSTAT)', 'Root product (HS)',
       'Product fraction (pf)', 'Value fraction (vf)', 'Water Type', 'Global average']

In [13]:
cols = ['Product code (HS)', 'Product description (HS)',
       'Product description (FAOSTAT)', 'Root product (HS)',
       'Product fraction (pf)', 'Value fraction (vf)',
       'Global average (Green)', 'Global average (Blue)', 'Global average (Grey)', 'Total Global average']

In [101]:
df.drop(0, inplace=True)

In [122]:
df['Global average'] = df['Global average'].astype(int)

In [123]:
prev_val = None
new_df = []
is_current = True
for row in df.iterrows():
    row = row[1]
    if row[1] is not np.nan:
        if prev_val is not None:
            prev_val.drop(['Water Type', 'Global average'], inplace=True)
            prev_val['Total Global average'] = sum([prev_val[col] for col in [f'Global average ({t})' for t in ['Green', 'Blue', 'Grey']]])
            new_df.append(prev_val)
        prev_val = row
        if row['Global average'] is np.nan:
            row['Global average'] = 0
    prev_val['Global average ({})'.format(row['Water Type'])] = row['Global average']
    
new_df = pd.DataFrame(new_df)
new_df.head()

,Product code (HS),Product description (HS),Product description (FAOSTAT),Root product (HS),Product fraction (pf),Value fraction (vf),Global average (Green),Global average (Blue),Global average (Grey),Total Global average
1,10111.0,"Horses, live pure-bred breeding",Horses,010111,1.0,1.0,37179,2462,971,40612
4,10119.0,"Horses, live except pure-bred breeding",NaN,010111,1.0,1.0,37179,2462,971,40612
7,10120.0,"Asses, mules and hinnies, live","Asses, mules, hinnies",010111,1.0,1.0,37179,2462,971,40612
10,10210.0,"Bovine, live pure-bred breeding","Bov.animals,pure,breedng",010210,1.0,1.0,7002,256,219,7477
13,10290.0,"Bovine, live except pure-bred breeding",Other bovine animals,010210,1.0,1.0,7002,256,219,7477

In [124]:
new_df.reset_index(inplace=True, drop=True)
new_df.head()

,Product code (HS),Product description (HS),Product description (FAOSTAT),Root product (HS),Product fraction (pf),Value fraction (vf),Global average (Green),Global average (Blue),Global average (Grey),Total Global average
0,10111.0,"Horses, live pure-bred breeding",Horses,010111,1.0,1.0,37179,2462,971,40612
1,10119.0,"Horses, live except pure-bred breeding",NaN,010111,1.0,1.0,37179,2462,971,40612
2,10120.0,"Asses, mules and hinnies, live","Asses, mules, hinnies",010111,1.0,1.0,37179,2462,971,40612
3,10210.0,"Bovine, live pure-bred breeding","Bov.animals,pure,breedng",010210,1.0,1.0,7002,256,219,7477
4,10290.0,"Bovine, live except pure-bred breeding",Other bovine animals,010210,1.0,1.0,7002,256,219,7477

In [125]:
new_df[new_df['Total Global average'] == np.nan]

Empty DataFrame
Columns: [Product code (HS), Product description (HS), Product description (FAOSTAT), Root product (HS), Product fraction (pf), Value fraction (vf), Global average (Green), Global average (Blue), Global average (Grey), Total Global average]
Index: []

In [91]:
ix = 335
val = 300

new_df['Global average (Blue)'][ix] = val
new_df['Total Global average'][ix] = sum([new_df[col][ix] for col in [f'Global average ({t})' for t in ['Green', 'Blue', 'Grey']]])
print(new_df.loc[ix])

Product code (HS)                                                           530290
Product description (HS)         True hemp fibre otherwise processd but not spu...
Product description (FAOSTAT)                                                  NaN
Root product (HS)                                                           530210
Product fraction (pf)                                                         0.90
Value fraction (vf)                                                           1.00
Global average (Green)                                                      2026.0
Global average (Blue)                                                        300.0
Global average (Grey)                                                        693.0
Total Global average                                                        3019.0
Name: 335, dtype: object
<ipython-input-91-81b995f9686c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Global average (Blue)'][ix] = val
<ipython-input-91-81b995f9686c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Total Global average'][ix] = sum([new_df[col][ix] for col in [f'Global average ({t})' for t in ['Green', 'Blue', 'Grey']]])

In [126]:
new_df.to_csv("../resources/meat_processed.csv", index=False)

In [127]:
df1 = pd.read_csv("../resources/vegetable_processed.csv")
df2 = pd.read_csv("../resources/meat_processed.csv")

In [134]:
df1.shape

(352, 10)

In [133]:
df2.shape

(105, 10)

In [136]:
df1 = df1.append(df2)

In [137]:
df1.shape

(457, 10)

In [138]:
df1.reset_index(drop=True, inplace=True)

In [139]:
df1.to_csv("../resources/combined.csv")

In [2]:
df = pd.read_csv("../resources/combined.csv", index_col=0)

In [3]:
df.head()

,Product code (HS),Product description (HS),Product description (FAOSTAT),Root product (HS),Product fraction (pf),Value fraction (vf),Global average (Green),Global average (Blue),Global average (Grey),Total Global average
0,100110 / 100190,"Wheat (Durum wheat, Wheat nes and meslin)",Wheat,100110 / 100190,1.00,1.00,1277.0,342.0,207.0,1826.0
1,110100,Wheat or meslin flour,NaN,100190,0.79,0.80,1292.0,347.0,210.0,1849.0
2,110100a,Wheat bread,NaN,110100,1.15,1.00,1124.0,301.0,183.0,1608.0
3,110100b,Dry pasta,NaN,110100,1.00,1.00,1292.0,347.0,210.0,1849.0
4,110311,Wheat groats and meal,NaN,110321,1.00,1.00,1423.0,382.0,231.0,2036.0

In [4]:
df.to_csv("../resources/combined.csv", index=False)